// font source: http://fonts.google.com
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,700;0,800;1,200;1,300&display=swap')

// utils:
@import './utils/_colors.util.sass'
@import './utils/_fonts.util.sass'
@import './utils/_animation.util'

// globals:
*
    box-sizing: border-box

*
    &::selection
        background: $alt_black_2
        color: $main_white
    &:focus
        box-sizing: border-box
        outline-width: 3px
        outline-style: solid
        outline-offset: 1px
        outline-color: $app_sudo_clr-dg1
button
    cursor: pointer

.loading-wrapper
    display: flex
    align-items: center
    justify-content: center
    height: 5rem
    span.spinner
        display: block
        width: 2rem
        height: 2rem
        border-radius: 50%
        border: 3px solid transparent
        border-color: $extra_gray_1
        border-top-color: $app_sudo_clr
        border-left-color: $app_sudo_clr
        @include mx_spinner($t: 0.3s)

p
    padding: 0
    margin: 0

main.page
    min-height: 80vh
