@import '../../common/style/utils/_colors.util.sass'
.row-chart
    height: 20rem
    border: 1px dashed $extra_gray_2
    padding: 1rem
    border-radius: 4px
    padding-top: 2rem
    position: relative
    &:hover
        box-shadow: #0001 1px 1px 12px 8px
    span.graph-title
        position: absolute
        top: 50%
        left: 1rem
        transform: rotate(90deg) translate(-50%, 0)
    .blank
        height: 100%
        display: flex
        align-items: center
        justify-content: center
        p
            color: $gray_5
